body {
  margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.my_header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #333;
}

footer {
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /*margin-bottom: 0px;*/
  justify-content: center;
  padding: 15px;
  background-color:#333;
  color: white;

}


.menu {
  float: right;
}

.site_title {
  display: inline-block;
  padding: 14px 16px;
  float: left;
  color: white;
  background-color: #00695C;
  text-decoration: none;
  text-align: right: 0;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.site_title), .sign_in_dropdawn:hover .dropbtn {
  background-color: #E0F2F1;
  color: black;
}

li.sign_in_dropdawn {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.sign_in_dropdawn:hover .dropdown-content {
  display: block;
}

/*Main Content*/

.main_content {
  padding:20px;
  padding-top:50px;
  height:1000px;
  background-image: url("/static/img/hero.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;

/*this is turn on grid layout*/
  display: grid;
/*each number is column size. First column 650 px, 
second column - flexible(to the end of screen)*/
  grid-template-columns: 650px 1fr;
/*each number is row size. The only row 650 px*/
  grid-template-rows: 650px;
  /*We will get grid with one row and 2 columns*/
}

.img {
 width: 100%;
}

.search {
  margin: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color:#FFD54F;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
  font-size: 30px;
  font-family: 'Muli', sans-serif;

  grid-column: 1 / 2;
}


.tagline {
  margin: 10px;
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Muli', sans-serif;
  background-color: alpha;
  color: white;
  padding: 10px;

  grid-column: 2 / 3;
}

.search_button_container {
  margin: 60px;
}

.search_button {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: green;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: 10px;
transition: all 0.4s ease 0s;
}
 
.search_button:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

/* form for choosing time on home.html */
.form {
  font-size:25px;
  margin:25px; 
}

.registration {
  height: margin: 0 auto;
  background-color: #26A69A; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #00BFA5, #004D40); /* Standard syntax (must be last) */
  padding-top: 50px;
  padding-bottom: 400px;

}

.user_registration {
  width: 60%;
  height: 50%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  
  position: relative; 
  margin: auto;

  background-color:#FFD54F;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: auto;
  
  font-size: 20px;
  font-family: 'Muli', sans-serif;
}
