{% extends "rentalcar/header_footer.html" %}
{% load staticfiles %}

{% block content %}
    <div class="search_page p-0" style="background-color: #137c9f">
        <div class="row h-100 m-0">
            {# Pick Up & Return Bar#}
            <div class="col-12" style="background-color: #137c9f; height: 100px">
                Pick Up & Return
            </div>
            {# Filters #}
            <div class="col-3 h-100">
                <div class="font-weight-bold text-monospace">
                    &nbsp Filter by &nbsp
                    {% include "rentalcar/search_page/search_filter_by.html" %}
                </div>
            </div>

            <div class="col h-100 m-0">
                {# Sort by Bar #}
                <div class="row" style="background-color: #eea223; height: 50px; vertical-align: middle;">
                    <div class="justify-content-center align-self-center font-weight-bold text-monospace"> &nbsp Sort by: &nbsp</div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary">Most Popular</button>
                        <button type="button" class="btn btn-primary">Low to high</button>
                        <button type="button" class="btn btn-primary">High to low</button>
                    </div>
                </div>

                {# Main content - list of cars #}
                <div class="row h-100 p-15">
                        {% include "rentalcar/search_page/search_main_content_list.html" %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
