{% extends "rentalcar/header_footer.html" %}

{% block content %}
<div class="search_page">
    <div class="row h-100">
      <div class="col-12" style="background-color: pink; height: 100px">
          Pick Up & Return
      </div>
      <div class="col-3 h-100" style="background-color: green">
          Filter by
      </div>
      <div class="col h-100">
        <div class="row" style="background-color: darksalmon; height: 50px">
            Sort by
        </div>
        <div class="row h-100" style="background-color: khaki">
            Main content
        </div>

      </div>
    </div>
</div>

{% endblock %}

