{% extends "rentalcar/header_footer.html" %}

{% block content %}
<div class="search_page p-0">
    <div class="row h-100 m-0">
      <div class="col-12" style="background-color: pink; height: 100px">
          Pick Up & Return
      </div>
      <div class="col-3 h-100" style="background-color: green">
          <div class="font-weight-bold text-monospace">
            &nbsp Filter by &nbsp


              <div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Car Type </h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<form>
				<label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    Economy
				  </span>
				</label> <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    Mini
				  </span>
				</label>  <!-- form-check.// -->
				<label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    Standard
				  </span>
				</label>  <!-- form-check.// -->
			</form>
                <label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    SUV
				  </span>
				</label>  <!-- form-check.// -->
                <label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    Passenger
				  </span>
				</label>  <!-- form-check.// -->
                <label class="form-check">
				  <input class="form-check-input" type="checkbox" value="">
				  <span class="form-check-label">
				    Van
				  </span>
				</label>  <!-- form-check.// -->

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->

	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Choose type </h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<label class="form-check">
			  <input class="form-check-input" type="radio" name="exampleRadio" value="">
			  <span class="form-check-label">
			    First hand items
			  </span>
			</label>
			<label class="form-check">
			  <input class="form-check-input" type="radio" name="exampleRadio" value="">
			  <span class="form-check-label">
			    Brand new items
			  </span>
			</label>
			<label class="form-check">
			  <input class="form-check-input" type="radio" name="exampleRadio" value="">
			  <span class="form-check-label">
			    Some other option
			  </span>
			</label>
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->











          </div>
      </div>
      <div class="col h-100 m-0">
        <div class="row" style="background-color: darksalmon; height: 50px; vertical-align: middle;">

            <div class="justify-content-center align-self-center font-weight-bold text-monospace"> &nbsp Sort by: &nbsp</div>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Most Popular</button>
                <button type="button" class="btn btn-primary">Low to high</button>
                <button type="button" class="btn btn-primary">High to low</button>
            </div>
        </div>
        <div class="row h-100 p-15" style="background-color: khaki">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-info" id="list">
                                    List View
                                </button>
                                <button class="btn btn-danger" id="grid">
                                    Grid View
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="products" class="row view-group">
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh .</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-lg-4">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                                    </div>
                                    <div class="caption card-body">
                                        <h4 class="group card-title inner list-group-item-heading">
                                            Product title</h4>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p class="lead">
                                                    $21.000</p>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>

      </div>
    </div>
</div>

{% endblock %}

